{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

	<section class="container">
		<h1>It's a not much but it's a start.</h1>
		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>published: {{ post.published_date }}</p>
				<p>{{ post.text|linebreaks }}</p>
			</div>
		{% endfor %}
	</section>

</body>
</html>